.tons-rock-bg{
   background: url(../images/tons-rock-bg.jpg) no-repeat center;background-size: cover;
   min-height: 680px;
}

.merge-inheader{
    margin-top:-230px;
}
.center-conetent{
    display: flex;
    align-items: center
}

.bottom_banner{background: url('../images/tons-rock-bottom.jpg') no-repeat center;background-size: cover;min-height: 327px;color: #fff;padding: 120px 75px;margin-top: 230px;margin-bottom: 165px; text-align: center;}
.bottom_banner p{font-size: 24px;font-weight: 300; padding:0 20px; text-align: center; width:80%; margin:0 auto; line-height: 36px;}
.bottom_banner h4{font-size: 24px;color: #94d4d9 !important;font-weight: 500;margin: 30px 0 10px 0;;}
.bottom_banner a{color: #94d4d9 !important;}
.bottom_banner h5{font-size: 16px;font-weight: 300;}
